
<div class="container">
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <h1 class="text-center">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

</div>
<div class="col-md-2"></div>
</div>
</div>


